
body { margin: 0; padding: 0;overflow-x: hidden; background-color: #abb8c3;
}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.home-page-container{
    background-image: linear-gradient( rgb(39, 53, 39),  rgb(45, 64, 45));
    overflow-x: hidden
}


    #map {
        position: fixed;
        width: 50%;
    }
    .features {
        font-family: sans-serif;
        overflow-y: scroll;
        background-color: #fafafa;
    }

    section {
        padding: 25px 50px;
        line-height: 25px;
        border-bottom: 1px solid #ddd;
        opacity: 0.25;
        font-size: 13px;
    }
    section.active {
        opacity: 1 ;
    }
    section:last-child {
        border-bottom: none;    
        margin-bottom: 200px;
    }
    .backgroundImage{
        background-image:linear-gradient(to right, black 0%, white 100%) ,url('https://www.tami4.co.il/sites/default/files/2020-08/1%20%281%29.jpg');
        background-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 75vh;
    }
    .search-Input{
    text-align: right;
    }
/* 
    .image-container
    {  
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        
    } */
   