body{
  background-color: #eaeff4;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  overflow-x: hidden;
}

.image-Carousel{
    width: 75vw;
    height: 50vh;
}

 .title{
  position: absolute;
  /* background-color: #4a9f91; */
  top: 50%;
  left: 20%;
  right: 20%;
   margin: auto;
  color: aliceblue;
  z-index: 2;
}
.title h1 {
  font-size: 60px;
}
.title h6 {
  font-size: 20px;
}
.text-container{
  margin-top: 10%;
}
.place-text{
  color: #004b3f;
}
.title-page-place{
  font-size: 50px;
}
.text-page-place{
  width: 40%;
}
img{
  position: relative;
  width: 100vw;
  z-index: 1;
}

.information-Section{
  display: flex;
  margin: auto;
  padding: 20px;
  width: 75vw;
  flex-direction:row-reverse;
  justify-content:space-around;
  margin-top: 40px;
  height: 60vh;
  background-color: aliceblue;
  box-shadow: 30px 30px 20px black;
}
.left-information-Section{
  border-radius: 10px;
  color: whitesmoke;
}
.right-information-Section h3{
  font-weight: bolder;
}
.box-title{
  border-radius: 10px;
  background-color:#004b3f;  
  width: 25vw;
}
.box-title:hover{
  cursor: pointer;
  
}
.box:hover{
  transition:300ms ease-in-out;
  background:transparent;
  background-color:#4a9f91;  
  width: 24vw;
}

@media screen and (max-width: 400px) {
  .text-page-place{
    margin-top: 20px;
    width: 70vw;
  }
  .information-Section{
    width:100vw 
  }

}