body{
  min-height:200vh;}
.transition{
  transition:500ms ease-in-out;
  background:transparent;
}
.scrolled{
  background-color:#004b3f;
}
.image-bg{
    background-color: aliceblue;
    border-radius: 50px;
}
.image{
    width: 35px;
}
.user-logout{
  background-color: #4a9f91;  ;
  border-radius: 40px;
}
/* #dropdown-basic{
  width: 30px;
} */